amqp==2.1.4
billiard==3.5.0.2
celery==4.0.2
defusedxml==0.4.1
Django==1.10.5
django-allauth==0.30.0
django-anymail==0.7
django-environ==0.4.1
gunicorn==19.6.0
kombu==4.0.2
oauthlib==2.0.1
psycopg2==2.6.2
python3-openid==3.0.10
pytz==2016.10
redis==2.10.5
requests==2.12.4
requests-oauthlib==0.7.0
six==1.10.0
vine==1.1.3
