body {
  margin-top: 60px;
}

.navbar .profile-image {
  margin: -10px 0px;
  height: 30px;
}

.page-header {
  margin-top: 30px;
}
.page-header h1 {
  font-size: 30px;
}

.panel-form {
  margin-top: 50px;
}
.panel-form .bottom-text {
  margin-top: 20px;
}
form .has-error .control-label {
  color: #333;
}

span.asteriskField {
  display: none;
}
