{% extends 'base.html' %}

{% block head_title %}Verify your email address{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default signin-form">
      <div class="panel-heading">
        <h3 class="panel-title text-center"><strong>Verify your email address</strong></h3>
      </div>
      <div class="panel-body">

        <p>We have sent an email to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.</p>

      </div> <!-- /.panel-body -->
    </div> <!-- /.panel -->
  </div> <!-- /.col-md-6 -->
</div> <!-- /.row -->
{% endblock %}