{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Change password{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="page-header">
      <h1>Change password</h1>
    </div>

        {% if messages %}
          {% for message in messages %}
            {% if 'app' in message.tags %}
              {% if 'success' in message.tags %}
              <div class="alert alert-success">
              {% elif 'error' in message.tags %}
              <div class="alert alert-danger">
              {% endif %}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ message }}</div>
            {% endif %}
          {% endfor %}
        {% endif %}

        <form method="post" action="" novalidate="">
          {% csrf_token %}
          {{ form|crispy }}
          <button class="btn btn-primary pull-right" type="submit">Change password</button>
        </form>

  </div> <!-- /.col-md-6 -->
</div> <!-- /.row -->
{% endblock %}