{% extends 'base.html' %}

{% load crispy_forms_tags account %}

{% block head_title %}Password Reset{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default panel-form">
      <div class="panel-heading">
        <h3 class="panel-title text-center"><strong>Password Reset</strong></h3>
      </div>
      <div class="panel-body">
        <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
      </div> <!-- /.panel-body -->
    </div> <!-- /.panel -->
  </div> <!-- /.col-md-6 -->
</div> <!-- /.row -->
{% endblock %}
